body {
    height: 100vh;
    background-color: black;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    display: flex;
    color: white;
  }

  #container {
    width: 500px;
    height: 500px;
    border-radius: 50%;
    position: relative; 
  }
  

  #content{
    position: absolute;
    font-size: 16px;
    transform: translate(-50%,-50%);
    cursor: pointer;
   
  }
  .emoji{
    position: absolute;
    top: 50%;
    left: 50%;
    transform-origin: 0 0;
    font-size: 24px;
  }

  #name{
    position: relative;
    text-align: center;
    transform-origin: 0 0;
    display: flex;
    justify-items: center;
    left: 15em;
    top: 15em;
    align-items: center;
  }
  #preaching{
    position: relative;
    text-align: center;
    transform-origin: 0 0;
    display: flex;
    justify-items: center;
    left: 12em;
    top: 15em;
    align-items: center;
  }
.follow{
    position: absolute;
    pointer-events: none; 
    transition: transform 0.1s linear
}